.navbarContainer {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.logo {
  color: gray;
  font-size: 18px;
}

.cartIcon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}

.cartIcon:hover {
  transform: scale(1.1, 1.1);
}

.cartItemQty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
